
/* ------------ Fonts ------------- */
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sail&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes neonGlow {
    0%, 100% {
      text-shadow: 0 0 2px #00e7ff, 0 0 4px #00e7ff, 0 0 8px #00e7ff, 0 0 12px #00e7ff;
      color: #00e7ff; /* Cyan Blue */
    }
    25% {
      text-shadow: 0 0 2px #ff00ff, 0 0 4px #ff00ff, 0 0 8px #ff00ff, 0 0 12px #ff00ff;
      color: #ff00ff; /* Vivid Purple */
    }
    50% {
      text-shadow: 0 0 2px #32ff7e, 0 0 4px #32ff7e, 0 0 8px #32ff7e, 0 0 12px #32ff7e;
      color: #32ff7e; /* Fresh Green */
    }
    75% {
      text-shadow: 0 0 2px #9500ff, 0 0 4px #9500ff, 0 0 8px #9500ff, 0 0 12px #9500ff;
      color: #9500ff; /* Indigo */
    }
}
  
  
.neon-text {
    animation: neonGlow 4s infinite;
}
 
  
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}
  
@keyframes blink {
    50% {
      border-color: transparent;
    }
}
 
@keyframes shimmer {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(3rem) translateY(-2rem);
      opacity: 0;
    }
}
 
/* Self-writing text effect */
.writing-text {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #000;
    color: #000;
    animation: typing 4s steps(30, end), blink 0.6s step-end infinite alternate;
}
  
/* Shiny particles */
.writing-text:hover .particles {
    display: block;
}
  
.particles {
    position: absolute;
    inset: 0;
    pointer-events: none;
    display: none;
}
  
.particles::before,
.particles::after {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background: radial-gradient(circle, #fff, transparent);
    border-radius: 50%;
    animation: shimmer 1s ease-out infinite;
}
  
.particles::before {
    top: 0;
    left: 50%;
}
  
.particles::after {
    top: 50%;
    left: 0;
}  